<div class="background">
    <div class="container">

        <!-- Portada -->
        <div class="card">
            <h2 class="welcome-text">¡Bienvenido al Juego de Memoria!</h2>
            <div class="front">
                <img src="home/memory.jpg" alt="portada del juego" class="main-image">
                <div class="intro-text">
                    <p>¿Estás listo para un reto? Pon a prueba tu concentración y habilidad para recordar mientras
                        buscas
                        formar parejas de cartas iguales.</p>
                    <p>¡Ejercita tu memoria, compite con amigos o disfruta jugando en solitario!</p>
                    <p>Prepárate para convertirte en el maestro de la memoria.</p>
                </div>
            </div>
        </div>

        <!-- Iniciar sesión/Registro -->
        <div class="navigation">
            <a pButton href="/login" class="p-button-raised p-button-primary login-button">
                ¡Inicia sesión para empezar a jugar!
            </a>
        </div>

        <!-- Reglas del juego -->
        <div class="card">
            <h3 class="rules-text">Reglas del Juego</h3>
            <ol class="rules">
                <li>Las cartas se colocan boca abajo en una cuadrícula.</li>
                <li>En cada turno, un jugador da vuelta a dos cartas.</li>
                <li>Si las cartas coinciden, el jugador se las queda y vuelve a jugar.</li>
                <li>Si no coinciden, se colocan nuevamente boca abajo y el turno pasa al siguiente jugador.</li>
                <li>El objetivo es recordar la posición de las cartas y formar el mayor número de pares.</li>
                <li>Gana quien obtenga más parejas al final del juego.</li>
            </ol>
        </div>

        <!-- Imágenes -->
        <div class="images">
            <div class="example-images">
                <img src="home/ejemplo1.jpg" alt="Ejemplo del juego 1">
                <img src="home/ejemplo2.jpg" alt="Ejemplo del juego 2">
            </div>
        </div>

    </div>
</div>