/* You can add global styles to this file, and also import other style files */

html {
    color-scheme: light !important;
}

body {
    scroll-behavior: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}